.h-0 {
    height: 0;
}

.text-success {
    color: #4a7747;
}

div.p-toast {
    opacity: 1;
}

.p-button.p-button-icon-only.p-button.p-button-xs,
.p-button.p-button-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    width: auto;
}

.code {
  font-family: monospace;
  background-color: #eee;
  padding: .25rem .5rem;
  border-radius: .25rem;
}